<div *ngIf="SelectedTrailer" class="modal-header">
  <h4 class="modal-title">Trailer Informtion - <span class="badge badge-success">{{pageFilters.unitNumber}}</span></h4>
  <button type="button" class="close" (click)="hidePopup()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<button *ngIf="!SelectedTrailer" type="button" class="close" (click)="hidePopup()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="row" *ngIf="pageFiltersshow">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Trailers Information</div>
      <div style="display: flex;">
        <div class="card-body col-sm-6">
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="unitnumber">Unit Number: <span style="color:red">*</span></label>
            <div class="col-md-8">
              <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="unitNumber" placeholder="Ex: 0123" name="unitNumber" #unitNumber="ngModel" [(ngModel)]="pageFilters.unitNumber" [pattern]="'^[1-9][0-9]*$'" required>
              <div *ngIf="unitNumber.errors && (unitNumber.dirty || unitNumber.touched)" style="font-size: smaller;">
                <div [hidden]="!unitNumber.errors.required">
                  <span style="color: red;">Unit Number is required</span>
                </div>
                <div [hidden]="!unitNumber.errors?.pattern">
                  <span style="color: red;">Enter Numbers only</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="trailertype">Trailer Type: <span style="color:red">*</span></label>
            <div class="col-md-8">
              <select class="form-control" placeholder="Select Trailer type" [ngClass]="mode?'':'disble'" id="trailertype" name="trailerType" #trailerType="ngModel" [(ngModel)]="pageFilters.trailerType">
                <option value="Dry Van">Dry Van</option>
                <option value="Reefer">Reefer</option>
                <option value="Flat Bed">Flat Bed</option>
                <option value="Step Deck">Step Deck</option>
                <option value="Special">Special</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="make">Make: <span style="color:red">*</span></label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="make" name="make" #make="ngModel" [(ngModel)]="pageFilters.make" required>
              <div *ngIf="make.errors && (make.dirty || make.touched)" style="font-size: smaller;">
                <div [hidden]="!make.errors.required">
                  <span style="color: red;">Make is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="color">Color: <span style="color:red">*</span></label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="color" name="color" #color="ngModel" [(ngModel)]="pageFilters.color" required>
              <div *ngIf="color.errors && (color.dirty || color.touched)" style="font-size: smaller;">
                <div [hidden]="!color.errors.required">
                  <span style="color: red;">Color is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="year">Year: <span style="color:red">*</span></label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="year" placeholder="Ex: 2020" name="year" #year="ngModel" [(ngModel)]="pageFilters.year" [pattern]="'^[1-9][0-9]*$'" minlength="4" maxlength="4" required>
              <div *ngIf="year.errors && (year.dirty || year.touched)" style="font-size: smaller;">
                <div [hidden]="!year.errors.required">
                  <span style="color: red;">Year is Required</span>
                </div>
                <div [hidden]="!year.errors?.pattern">
                  <span style="color: red;">Enter Numbers only</span>
                </div>
                <div *ngIf="year.errors.maxlength || year.errors.minlength">
                  <span style="color: red;">Year must be 4 numbers</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="reefermake">Reefer Make:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="reefermake" name="reeferMake" #reeferMake="ngModel" [(ngModel)]="pageFilters.reefermake">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="reefermodal">Reefer Model:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="reefermodal" name="reeferModal" #reeferModal="ngModel" [(ngModel)]="pageFilters.reefermodal">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="reefermiles">Reefer Miles:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="reefermiles" name="reefermiles" #reefermiles="ngModel" [(ngModel)]="pageFilters.reefermiles">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="reeferhours">Reefer Hours:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="reeferhours" name="reeferhours" #reeferhours="ngModel" [(ngModel)]="pageFilters.reeferhours">
            </div>
          </div>
        </div>
        <div class="card-body col-sm-6">
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="vin">Vin:<span style="color:red">*</span></label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" maxlength="15" class="form-control" id="vin" name="vin" #vin="ngModel" [(ngModel)]="pageFilters.vin">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="registerState">Registered State:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="registerState" #registerState="ngModel" name="registerState" [(ngModel)]="pageFilters.registerState">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="platenumber">Plate Number:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="platenumber" name="platenumber" #platenumber="ngModel" [(ngModel)]="pageFilters.plateNumber">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="truck">Truck:</label>
            <div class="col-md-8">
              <select [ngClass]="mode?'':'disble'" class="form-control" [(ngModel)]="pageFilters.truck">
                <option value="" disabled selected hidden>Truck</option>
                <option *ngFor="let cmp of truckdata" value="0">
                  <span *ngIf="cmp.truckunitnumber">{{cmp.truckunitnumber}}</span>
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="notes">Notes:</label>
            <div class="col-md-8">
              <textarea [ngClass]="mode?'':'disble'" class="form-control" name="notes" [(ngModel)]="pageFilters.notes"></textarea>
            </div>
          </div>
          <div class="form-group row" *ngIf="changeUplaod">
              <label for="file-upload" *ngIf="mode"  [ngClass]="mode?'':'disble'" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Upload
              </label>
              <input id="file-upload" multiple type="file" (change)="addfiles($event)"/>
              <div class="col-sm-12">
                <div *ngFor="let data of finalArry;let i=index">
                  {{data.name}} &nbsp;<span *ngIf="showviewedit" (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;<span *ngIf="mode" (click)="ondelete(i)"><a style="color: red;" href="javascript:void(0)">delete</a></span>
                </div>
              </div>
              <div *ngIf="mode">
                <button class="btn btn-success" *ngIf="finalArry?.length > 0" (click)="onUploadFile()">Submit</button>
              </div>
          </div>
          <div class="form-group row" *ngIf="!changeUplaod">
              <label class="col-md-4 col-form-label" for="notes" *ngIf="!mode">Uploaded File :</label>
              <div class="col-sm-12" *ngIf="editFileList?.length > 0">
                <div *ngFor="let data of editFileList;let i=index">
                  {{data.name}} &nbsp;<span (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;
                </div>
              </div>
              <label for="file-upload" *ngIf="mode" [ngClass]="mode?'':'disble'" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Upload
              </label>
              <input id="file-upload" multiple type="file" (change)="addfiles($event)"/>
              <div class="col-sm-12">
                <div *ngFor="let data of finalArry;let i=index">
                  {{data.name}} &nbsp;<span *ngIf="showviewedit" (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;<span (click)="ondelete(i)"><a style="color: red;" href="javascript:void(0)">delete</a></span>
                </div>
              </div>
              <div>
                <button class="btn btn-success" *ngIf="finalArry?.length > 0" (click)="onUploadFile()">Submit</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Safety Information
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="card">
          <div class="card-body col-md-8">
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="inspectionexpirydate">DOT Inspection Expiry Date:</label>
              <div class="col-md-7">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="inspectionexpirydate" name="inspectionExpirydate" #inspectionExpirydate="ngModel" [(ngModel)]="pageFilters.inspectionExpirydate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="registerdstate">Plates Registered State:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="registerdstate" name="registerdState" #registerdState="ngModel" [(ngModel)]="pageFilters.registerdState">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="platesexpirationdate">Plates Expiration Date:</label>
              <div class="col-md-7">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="platesexpirationdate" name="platesExpirationdate" #platesExpirationdate="ngModel" [(ngModel)]="pageFilters.platesExpirationdate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="insuranceexpirationdate">Insurance Expiration Date:</label>
              <div class="col-md-7">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="insuranceexpirationdate" name="insuranceExpirationdate" #insuranceExpirationdate="ngModel" [(ngModel)]="pageFilters.insuranceExpirationdate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="insurancevalue">Insurance Value:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="insurancevalue" name="insuranceValue" #insuranceValue="ngModel" [(ngModel)]="pageFilters.insuranceValue">
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="card-header">
            <mat-panel-title>
              Maintenance Records
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="dx-viewport">
            <div class="grid-container">
              <dx-data-grid #grid id="gridContainer" [dataSource]="maintenancedata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [remoteOperations]="true" (onRowUpdated)="onEdit($event)" (onRowRemoved)="onDelete($event)" (onRowInserted)="onAdd($event)">
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing mode="row" [allowUpdating]="mode" [allowDeleting]="mode" [allowAdding]="mode">
                </dxo-editing>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="fromdate" dataType="date" caption="Service Date"></dxi-column>
                <dxi-column dataField="type" caption="Category">
                  <dxo-lookup [dataSource]="categoryDetails" displayExpr="Name" valueExpr="ID">
                  </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="curmiles" caption="Current Miles"></dxi-column>
                <dxi-column dataField="nummiles" caption="Number of Miles"></dxi-column>
                <dxi-column dataField="nxtservicemile" caption="Next Service Miles"></dxi-column>
                <dxi-column dataField="servicefrom" caption="Serviced From"></dxi-column>
                <dxi-column dataField="cost" caption="Cost"></dxi-column>
                <dxi-column dataField="comments" caption="Comments"></dxi-column>
              </dx-data-grid>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
   

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Ownership Information
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex;">
          <div class="card-body col-md-6">
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="companyowned">Company Owned:</label>
              <div class="col-md-7 col-form-label" name="companyOwned">
                <div class="form-check form-check-inline mr-1">
                  <input [ngClass]="mode?'':'disble'" class="form-check-input" id="inline-radio1" type="radio" value="yes" checked="checked" name="isFilter" #isFilter="ngModel" required [value]="true" [(ngModel)]="pageFilters.isFilter">
                  <label class="form-check-label" for="inline-radio1">Yes</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input [ngClass]="mode?'':'disble'" class="form-check-input" id="inline-radio2" type="radio" value="no" name="isFilter" #isFilter="ngModel" required [value]="false" [(ngModel)]="pageFilters.isFilter">
                  <label class="form-check-label" for="inline-radio2">No</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="price">Price:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="price" name="price" #price="ngModel" [(ngModel)]="pageFilters.price">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="purchasedate">Purchase Date:</label>
              <div class="col-md-7">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="purchasedate" name="purchaseDate" #purchaseDate="ngModel" [(ngModel)]="pageFilters.purchaseDate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="operationdate">Operation Date:</label>
              <div class="col-md-7">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="operationdate" name="operationDate" #operationDate="ngModel" [(ngModel)]="pageFilters.operationDate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="financer">Financer:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="financer" name="financer" #financer="ngModel" [(ngModel)]="pageFilters.financer">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="dealer">Dealer:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="dealer" name="dealer" #dealer="ngModel" [(ngModel)]="pageFilters.dealer">
              </div>
            </div>
          </div>
          <div class="card-body col-md-6">
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="leased">Leased:</label>
              <div class="col-md-7 col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input [ngClass]="mode?'':'disble'" class="form-check-input" id="inline-radio1" type="radio" value="yes" name="isFilter1" #isFilter1="ngModel" required [value]="true" [(ngModel)]="pageFilters.isFilter1">
                  <label class="form-check-label" for="inline-radio1">Yes</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input [ngClass]="mode?'':'disble'" class="form-check-input" id="inline-radio2" type="radio" value="no" name="isFilter1" #isFilter1="ngModel" required [value]="false" [(ngModel)]="pageFilters.isFilter1">
                  <label class="form-check-label" for="inline-radio2">No</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="leasedfrom">Leased from:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="leasedfrom" name="leasedfrom" #leasedfrom="ngModel" [(ngModel)]="pageFilters.leasedfrom">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="leasestart">Lease Start:</label>
              <div class="col-md-7">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="leasstart" name="leaseStart" #leaseStart="ngModel" [(ngModel)]="pageFilters.leaseStart">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="leaseexpirydate">Lease Expiry Date:</label>
              <div class="col-md-7">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="leaseexpirydate" name="leaseExpirydate" #leaseExpirydate="ngModel" [(ngModel)]="pageFilters.leaseExpirydate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="leaseinstallment">Lease Installment:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="leaseinstallment" name="leaseInstallment" #leaseInstallment="ngModel" [(ngModel)]="pageFilters.leaseInstallment">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="reeferpurchasedate">Reefer Purchase Date:</label>
              <div class="col-md-7">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="reeferpurchasedate" name="reeferPurchasedate" #reeferPurchasedate="ngModel" [(ngModel)]="pageFilters.reeferPurchasedate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="reeferprice">Reefer Price:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="reeferprice" name="reeferPrice" #reeferPrice="ngModel" [(ngModel)]="pageFilters.reeferPrice">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="installment">Installment:</label>
              <div class="col-md-7">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="installment" name="installment" #installment="ngModel" [(ngModel)]="pageFilters.installment">
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
 <div class="card-footer" *ngIf="showAddOption">
    <button type="submit" *ngIf="showsubmit" style="float: right;margin-left: 10px;" class="btn btn-sm btn-primary" [ngClass]="btnHide?'accessPointer':''" (click)="submit()"><i class="fa fa-dot-circle-o"></i>
      <img *ngIf="IsDataloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      Submit</button>&nbsp;&nbsp;
      <button type="submit" *ngIf="showupdate" style="float: right;margin-left: 10px;" class="btn btn-sm btn-primary" [ngClass]="btnHide?'accessPointer':''" (click)="update()"><i class="fa fa-dot-circle-o"></i>
    <img *ngIf="IsDataloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    Update</button>&nbsp;&nbsp;
    <button type="reset" style="float: right" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
  </div>