<form class="form-horizontal" [formGroup]="companyForm">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
          <div class="card-header"><strong>Company</strong> Data</div> 
            <div class="card-body">  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="companyname">Company Name<span style="color:red;"> *</span> :</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="companyname" formControlName="companyname" required>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="dba">DBA :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="dba" formControlName="dba" required>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="mc">MC<span style="color:red;"> *</span> :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="mc" formControlName="mc" required>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="fedid">FED ID<span style="color:red;"> *</span> :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="fedid" formControlName="fedid" required>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="phone">Phone :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="phone" formControlName="phone" required>
                    
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="fax">Fax :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="fax" formControlName="fax" required>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email">Email :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="email" formControlName="email" required>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="website">Website :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="website" formControlName="website" required>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="ifta-license">IFTA License # :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="ifta-license" formControlName="iftalicense" required>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="us-dot">US DOT <span style="color:red;"> *</span># :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="us-dot" formControlName="usdot" required>
                </div>
              </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header"><strong>Mailing</strong> Address</div>
            <div class="card-body">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="bill">Bill :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="bill" formControlName="bill" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="attention">Attention :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="attention" formControlName="attention" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="street1">Street1 :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="street1" formControlName="street1" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="street2">Street2 :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="street2" formControlName="street2" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="city">City :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="city" formControlName="city" required>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">State:
                        <select class="form-control" id="state" formControlName="state">
                            <option value="0">Select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                          </select>
                    </div>
                    <div class="col-6">Zip:
                        <input type="text" class="form-control" id="zip1" formControlName="zip" required>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="col-md-6">
        <!-- <div class="card">
          <div class="card-header"><strong>Logo</strong></div>
          <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="hf-email">Email</label>
                <div class="col-md-9">
                  <input class="form-control" id="hf-email" type="email" name="hf-email" placeholder="Enter Email.." autocomplete="email"><span class="help-block">Please enter your email</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="hf-password">Password</label>
                <div class="col-md-9">
                  <input class="form-control" id="hf-password" type="password" name="hf-password" placeholder="Enter Password.." autocomplete="current-password"><span class="help-block">Please enter your password</span>
                </div>
              </div>
          </div>
        </div> -->

        <div class="card">
            <div class="card-header"><strong>Logo</strong></div>
            <div class="card-body">
                <div class="form-group row">
                <div class="carousel-inner">
                  <div class="carousel-item active"><img class="d-block w-100" alt="image [800x800]" src="assets/img/brand/Load-miles.PNG" data-holder-rendered="true">
                  </div>
                </div>
                </div>
            </div>
          
            <div class="form-group row">
                <div class="col-md-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                  <input #fileInput type="file" style="display:none;" />
                  <button class="btn btn-pill btn-primary" type="button" (change)="onSelectFile()">Upload Logo</button>
                </div>
                <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                    <button class="btn btn-pill btn-danger" type="button">Delete Logo</button>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-1 col-form-label"></label>
                <div class="col-md-6 col-form-label">
                  <div class="form-check checkbox">
                    <input class="form-check-input" id="check1" type="checkbox" value="">
                    <label class="form-check-label" for="check1"> Show Mailing Information with Logo</label>
                  </div>
                </div>
                <div class="col-sm-4">Position:
                  <select class="form-control" id="position" formControlName="position">
                      <option value="0">Select</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                </div>
            </div>
          </div>

        <div class="card">
          <div class="card-header"><strong>Physical</strong> Address</div>
            <div class="card-body">
                <div class="form-group row">
                    <button class="btn btn-outline-secondary btn-lg btn-block" type="button">Copy From Mailing Address</button>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="attention1">Attention :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="attention1" formControlName="attention1" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="strret1.1">Strret 1 :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="strret1.1" formControlName="street3" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="strret2.1">Strret 2 :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="strret2.1" formControlName="street4" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="city1">City :</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="city1" formControlName="city2" required>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">State:
                        <select class="form-control" id="state2" formControlName="state2">
                            <option value="0">Select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                          </select>
                    </div>
                    <div class="col-6">Zip:
                        <input type="text" class="form-control" id="zip1" formControlName="zip2" required>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" style="float: right;margin-left: 10px;" class="btn btn-sm btn-primary" (click)="submit()"><i class="fa fa-dot-circle-o"></i>
                  <img *ngIf="IsDataloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" 
                  />
                  Submit</button>&nbsp;&nbsp;
                <button type="reset" style="float: right" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>

        

      </div>

      
  

    
  </div>
</form>


  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i>Data
            
          </div>
        <div class="card-body">
            <div class="animated fadeIn">
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <!-- <th><input type="checkbox" [(ngModel)]="allItemsSelected"  (change)="selectAll($event)"></th> -->
                <th>S.no</th>
                <th>Company Name</th>
                <th>DBA</th>
                <th>MC</th>
                <th>FEIN</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Website</th>
                <th>IFTA License #</th>
                <th>US DOT #</th>
                <th>Action</th>
              </tr>
            </thead>
            <!-- <tbody *ngIf="masklist && masklist.length>0">
              <tr *ngFor="let tran of masklist; let i =index">
                <td><input type="checkbox" [(ngModel)]="tran.IsSelected"></td>
                <td>{{i + 1}}</td>
                <td>{{tran.username}}({{tran.user_id}})</td>
                <td>{{tran.code}}</td>
                <td>{{tran.status}}</td>
                <td>{{tran.xyz}}</td>
                <td>{{tran.approvedDate |  date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                <td>{{tran.network_name}}({{tran.network_id}})</td>
                <td>
                  <a style="cursor: pointer;color: #20a8d8;" data-toggle="modal"
                      (click)="largeModal.show();maagedata(user);">Edit</a> |
                  
                  <a style="cursor: pointer;color: #20a8d8;" data-toggle="modal"
                      (click)="viewModal.show();viewData(user)">Delete</a>
                  
              </td>
              </tr>
              
            </tbody>
            <tbody *ngIf="masklist.length==0">
              <tr>
                <td class="alert alert-warning" align="center" colspan="12"><span>No records available</span></td>
              </tr>
            </tbody> -->
          </table>
         
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  
  