
  <div class="animated fadeIn">
  <div class="card">
    <div class="card-header"> Search For Dispatcher
        <strong></strong> <span *ngIf="Isusersloading"><img *ngIf="Isusersloading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            Loading..</span>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <div class="col-md-4">
                    <input type="text" id="search" name="search" class="form-control" [(ngModel)]="SearchText"
                        (keypress)="onSubmit()" (keyup.enter)="onSubmit()" placeholder="Find a Dispatcher">
                </div>
                <span>
                  <button type="reset" style="float: left" class="btn btn-sm btn-danger" (click)="ClearSearch()"><i class="fa fa-ban"></i> Clear Search</button>    
                </span>  &nbsp;&nbsp; 
                <!-- <span>
                  <button type="add" style="float: left" class="btn btn-sm btn-success" (click)="Add()"><i class="fa fa-plus"></i> New Truck</button>    
                </span> -->
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header">  Dispatchers List
            <span class="float-right">
                <button type="add" class="btn btn-sm btn-success" (click)="Add()"><i class="fa fa-plus"></i> New Dispatcher</button>    
            </span>              
        </div>

        <div class="card-body">
            <div class="animated fadeIn">
          </div>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Company Name</th>
                <th>DOB</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Emergency Contact</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <tr *ngFor="let truck of data; let i=index">
                    <td>{{i + 1}}</td>
                    <td>{{truck.plate}}</td>
                    <td>{{truck.make}}</td>
                    <td>{{truck.modal}}</td>
                    <td>{{truck.yom}}</td>
                    <td>
                      <a style="cursor: pointer;color: #20a8d8;" data-toggle="modal"
                          (click)="viewModal.show();viewData(truck);">View</a> |

                      <!-- <a style="cursor: pointer;color: #20a8d8;" data-toggle="modal"
                      (click)="editModal.show();edti(user);">Edit</a> |    -->
                      
                      <a style="cursor: pointer;color: #20a8d8;"
                          (click)="editCompany(truck)">Edit</a>

                      <!-- <a style="cursor: pointer;color: #20a8d8;"
                          (click)="deleteTrucks(truck)">Delete</a> -->
                  </td>
                </tr>
            </tbody>

            <!-- <tbody *ngIf="logslist.length==0">
              <tr>
                <td class="alert alert-warning" style="width:1050px;" align="center" colspan="10"><span>No records available</span></td>
              </tr>
            </tbody> -->
          </table>
        </div>
      </div>
    </div>
  </div>  

  <!--View-->
  <div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" style="max-width: 50%" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Manage Trucks - <span class="badge badge-success" >{{selectedTruck}}</span></h4>
              <button type="button" class="close" (click)="viewModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="animated fadeIn">
                      <div id="viewsection" *ngIf="EditMode==false">
                          <!-- <div id="viewsection"> -->
                      <div class="row">
                          <div class="col-md-6">
                              
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Plate Number:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{trucks.plate}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Starting Mileage:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{trucks.startingMileage}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Current Miles:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{trucks.currentMiles}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Make:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{trucks.make}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Modal:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{trucks.make}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Color:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{trucks.color}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Year of Make:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{trucks.yom}}</span>
                                  </div>
                              </div>
                              
                          </div>
                          <div class="col-md-6">
                              
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Vin:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{trucks.vin}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Gear Type:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{trucks.gearType}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>ELD:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{trucks.eld}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Fuel Card:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{trucks.fuelCard}}</span>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                      </div>

                      <div id="editsection" *ngIf="EditMode==true">
                          <div class="card">
                              <div class="card-header">
                                <strong>Edit</strong>
                              </div>
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="plate">Plate :</label>
                                              <input type="text" class="form-control" id="plate" [(ngModel)]="trucks.plate">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="dba">Make :</label>
                                              <input type="text" class="form-control" id="make" [(ngModel)]="trucks.make">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="fedid">Modal :</label>
                                              <input type="text" class="form-control" id="modal" [(ngModel)]="trucks.modal">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="mc">Year Of Make :</label>
                                              <input type="text" class="form-control" id="yom" [(ngModel)]="trucks.yom">
                                          </div>
                                      </div>
                              </div>
                          </div>
                          </div>                        
                       </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="reset" aria-label="Close" (click)="viewModal.hide()" style="float: right"
                  class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Close</button>
                  <button *ngIf="EditMode==false" type="reset" (click)="EditMode=true" style="float: right"
                  class="btn btn-sm btn-primary"><i class="fa fa-ban"></i> Edit</button> 
              <button *ngIf="EditMode==true" type="reset" (click)="editCompany(truck)"  style="float: right"
                  class="btn btn-sm btn-success"><i class="fa fa-ban"></i> Update 
                  <img *ngIf="Iseditusrloading"
                      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </button>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div>