
  <div class="animated fadeIn">
  <div class="card">
    <div class="card-header"> Search For Driver
        <strong></strong> <span *ngIf="Isusersloading"><img *ngIf="Isusersloading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            Loading..</span>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <div class="col-md-4">
                    <input type="text" id="search" name="search" class="form-control" [(ngModel)]="SearchText"
                        (keypress)="onSubmit()" (keyup.enter)="onSubmit()" placeholder="Find a Driver">
                </div>
                <span>
                  <button type="reset" style="float: left" class="btn btn-sm btn-danger" (click)="ClearSearch()"><i class="fa fa-ban"></i> Clear Search</button>    
                </span>  &nbsp;&nbsp; 
                <!-- <span>
                  <button type="add" style="float: left" class="btn btn-sm btn-success" (click)="Add()"><i class="fa fa-plus"></i> New Truck</button>    
                </span> -->
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header">  Drivers List
            <span class="float-right">
                <button type="add" class="btn btn-sm btn-success" (click)="Add()"><i class="fa fa-plus"></i> New Driver</button>    
            </span>              
        </div>

        <div class="card-body">
            <div class="animated fadeIn">
          </div>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Company Name</th>
                <th>SSN</th>
                <th>DOB</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Emergency Contact</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <tr *ngFor="let driver of data; let i=index">
                    <td>{{i + 1}}</td>
                    <td>{{driver.firstname}}</td>
                    <td>{{driver.middlename}}</td>
                    <td>{{driver.ssn}}</td>
                    <td>{{driver.dateofbirth}}</td>
                    <td>{{driver.cellphone}}</td>
                    <td>{{driver.email}}</td>
                    <td>{{driver.emergenctcontact}}</td>
                    <td>
                      <a style="cursor: pointer;color: #20a8d8;" data-toggle="modal"
                          (click)="viewModal.show();viewData(driver);">View</a> |

                      
                      <a style="cursor: pointer;color: #20a8d8;" data-toggle="modal"
                      (click)="viewModal.show();editData(driver);">Edit</a>

                      <!-- <a style="cursor: pointer;color: #20a8d8;"
                          (click)="deleteDriver(driver)">delete</a> -->
                  </td>
                </tr>
            </tbody>

            <!-- <tbody *ngIf="logslist.length==0">
              <tr>
                <td class="alert alert-warning" style="width:1050px;" align="center" colspan="10"><span>No records available</span></td>
              </tr>
            </tbody> -->
          </table>
        </div>
      </div>
    </div>
  </div>  

  <!--View-->
  <div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" style="max-width: 90%" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Manage Driver - <span class="badge badge-success" >{{selectedDriver}}</span></h4>
                  <button type="button" class="close" (click)="viewModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <div class="animated fadeIn">
                          <div id="viewsection" *ngIf="EditMode==false">
                              <!-- <div id="viewsection"> -->
                          <div class="row">
                              <div class="col-md-6">
                                  
                                  <div class="row" style="text-align: center">
                                      <div class="col-md-6" style="text-align: left">
                                          <span style="font-size: 12px;"><b>First Name:</b></span>
                                      </div>
                                      <div class="col-md-5" style="text-align: left">
                                          <span style="font-size: 14px;">{{drivers.firstname}}</span>
                                      </div>
                                  </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Middle Name:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{drivers.middlename}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Last Name:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{drivers.lastname}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Dispaly Name:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{drivers.dislpalyname}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>Date of Birth:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{drivers.dateofbirth}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>SSN:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 14px;">{{drivers.ssn}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>FEIN:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{drivers.fein}}</span>
                                  </div>
                              </div>
                              
                          </div>
                          <div class="col-md-6">
                              
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>CDL Number:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{drivers.cdlnumber}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>CDL State:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{drivers.cdlstate}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>CDL Expiry Date:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{drivers.cdlexpirytate}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                  <div class="col-md-6" style="text-align: left">
                                      <span style="font-size: 12px;"><b>CDL Class:</b></span>
                                  </div>
                                  <div class="col-md-5" style="text-align: left">
                                      <span style="font-size: 12px;">{{drivers.cdlclass}}</span>
                                  </div>
                              </div>
                              <div class="row" style="text-align: center">
                                <div class="col-md-6" style="text-align: left">
                                    <span style="font-size: 12px;"><b>Years Of Experience:</b></span>
                                </div>
                                <div class="col-md-5" style="text-align: left">
                                    <span style="font-size: 12px;">{{drivers.yearsofexperience}}</span>
                                </div>
                            </div>
                          </div>
                      </div>
                      </div>

                      <div id="editsection" *ngIf="EditMode==true">
                          <div class="card">
                              <div class="card-header">
                                <strong>Edit</strong>
                              </div>
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="firstname">First Name :</label>
                                              <input type="text" class="form-control" id="firstname" [(ngModel)]="drivers.firstname">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="middlename">Middle Name :</label>
                                              <input type="text" class="form-control" id="middlename" [(ngModel)]="drivers.middlename">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="lastname">Last Name :</label>
                                              <input type="text" class="form-control" id="lastname" [(ngModel)]="drivers.lastname">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="dateofbirth">Date of Birth :</label>
                                              <input type="date" class="form-control" id="dateofbirth" [(ngModel)]="drivers.dateofbirth">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ssn">SSN :</label>
                                            <input type="text" class="form-control" id="ssn" [(ngModel)]="drivers.ssn">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cdlnumber">CDL Number: :</label>
                                            <input type="text" class="form-control" id="cdlnumber" [(ngModel)]="drivers.cdlnumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cdlstate">CDL State :</label>
                                            <input type="text" class="form-control" id="cdlstate" [(ngModel)]="drivers.cdlstate">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cdlexpirytate">CDL Expiry Date:</label>
                                            <input type="text" class="form-control" id="cdlexpirytate" [(ngModel)]="drivers.cdlexpirytate">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-3 col-form-label" for="cdlclass">CDL Class:</label>
                                        <select class="form-control" id="cdlclass" name="cdlclass" #cdlclass="ngModel" [(ngModel)]="drivers.cdlclass">
                                        <option value="0">Select</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="yearsofexperience">Years Of Experience :</label>
                                            <input type="text" class="form-control" id="yearsofexperience" [(ngModel)]="drivers.yearsofexperience">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="statesoperated">States Operated :</label>
                                            <input type="text" class="form-control" id="statesoperated" [(ngModel)]="drivers.statesoperated">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="safetyawards">Safety Awards :</label>
                                            <input type="text" class="form-control" id="safetyawards" [(ngModel)]="drivers.safetyawards">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="specialtraining">Special Training :</label>
                                            <input type="text" class="form-control" id="specialtraining" [(ngModel)]="drivers.specialtraining">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="medicalcardexpiration">Medical card Expiration :</label>
                                            <input type="text" class="form-control" id="medicalcardexpiration" [(ngModel)]="drivers.medicalcardexpiration">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="preemploymentdrugtest">Pre-Employment Drug Test :</label>
                                            <input type="text" class="form-control" id="preemploymentdrugtest" [(ngModel)]="drivers.preemploymentdrugtest">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="preemploymentdrugtestresult">Pre-Employment Drug Test Result :</label>
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="inline-radio1" type="radio" value="positive" checked="checked" name="preemploymentdrugtestresult" #preemploymentdrugtestresult="ngModel" [value]="true" [(ngModel)]="drivers.preemploymentdrugtestresult">
                                                <label class="form-check-label" for="inline-radio1">positive</label>
                                              </div>
                                              <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" id="inline-radio2" type="radio" value="negative" name="preemploymentdrugtestresult" #preemploymentdrugtestresult="ngModel" [value]="false" [(ngModel)]="drivers.preemploymentdrugtestresult">
                                                <label class="form-check-label" for="inline-radio2">negative</label>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dislpalyname">Dispaly Name :</label>
                                            <input type="text" class="form-control" id="dislpalyname" [(ngModel)]="drivers.dislpalyname">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dislpalyname">Dispaly Name :</label>
                                            <input type="text" class="form-control" id="dislpalyname" [(ngModel)]="drivers.dislpalyname">
                                        </div>
                                    </div>
                              </div>
                          </div>
                          </div>                        
                       </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="reset" aria-label="Close" (click)="viewModal.hide()" style="float: right"
                  class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Close</button>
                  <!-- <button *ngIf="EditMode==false" type="reset" (click)="EditMode=true" style="float: right"
                  class="btn btn-sm btn-primary"><i class="fa fa-ban"></i> Edit</button>  -->
              <button *ngIf="EditMode==true" type="reset" (click)="editDriver(driver)"  style="float: right"
                  class="btn btn-sm btn-success"><i class="fa fa-ban"></i> Update 
                  
                  <img *ngIf="Iseditusrloading"
                      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </button>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div>