<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Vendor Bills</div>
        <div class="card-body">
          <div class="animated fadeIn"></div>
          <table
            class="table table-responsive-sm table-hover table-outline mb-0"
          >
            <thead>
              <tr>
                <th>S.no</th>
                <th>Vendor</th>
                <th>Bill ID</th>
                <th>Payment Date</th>
                <th class="text-right">Bill Amount</th>
                <th class="text-right">Paid Amount</th>
                <th class="text-right">Remaining Amount</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr></tr>
              <ng-container *ngFor="let payment of payments; let i = index">
                <tr *ngFor="let singlePayment of payment.paymentLine">
                  <td>{{ i + 1 }}</td>
                  <td>{{ payment.vendorId.displayName }}</td>
                  <td *ngIf="singlePayment.billId.billId">{{singlePayment.billId.billId}}</td>
                  <td *ngIf="!singlePayment.billId.billId"></td>
                  <td>{{ payment.paymentDate }}</td>
                  <td align="right">{{singlePayment.billId.billAmount}}</td>
                  <td align="right">{{singlePayment.paymentAmount}}</td>
                  <td align="right">{{ singlePayment.billId.billAmount - singlePayment.paymentAmount }}</td>
                  <td>
                    <a
                      style="cursor: pointer; color: #20a8d8"
                      (click)="details(payment)"
                      >Details</a
                    >

                    <!-- <a style="cursor: pointer;color: #20a8d8;"
                                    (click)="deleteTrailers(trailer)">Delete</a> -->
                  </td>
                </tr>
              </ng-container>
            </tbody>

            <!-- <tbody *ngIf="logslist.length==0">
                      <tr>
                        <td class="alert alert-warning" style="width:1050px;" align="center" colspan="10"><span>No records available</span></td>
                      </tr>
                    </tbody> -->
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--View-->
</div>
