<form class="form-horizontal" #dropoffpopupForm="ngForm" novalidate autocomplete="off" >
<div class="col-sm-12">
  <div class="card">
  	<div class="modal-header">
          <h4 class="modal-title">Dropoff Information</h4>
          <button style="outline:none" type="button" class="close" (click)="hidePopup()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div style="display: flex;">
      <div class="card-body col-sm-6">
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="type">Type:</label>
          <div class="col-md-8">
            <select class="form-control" [(ngModel)]="dropoff.type" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected hidden>Type</option>
              <option *ngFor="let type of typeDetails" [value]="type.Name">
                <span>{{type.Name}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="driver1">Driver1:</label>
          <div class="col-md-8">
            <select class="form-control" [(ngModel)]="dropoff.driver1" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected hidden>Driver</option>
              <option *ngFor="let cmp of driverdata" [value]="cmp.firstname">
                <span>{{cmp.firstname}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="driver2">Driver2:</label>
          <div class="col-md-8">
            <select class="form-control" [(ngModel)]="dropoff.driver2" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected hidden>Driver</option>
              <option *ngFor="let driver of driverdata" [value]="driver.firstname">
                <span>{{driver.firstname}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="truck">Truck:</label>
          <div class="col-md-8">
            <select class="form-control" [(ngModel)]="dropoff.truck" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected hidden>Driver</option>
              <option *ngFor="let cmp of unitNumberdata" [value]="cmp.truckunitnumber">
                <span>{{cmp.truckunitnumber}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="trailer">Trailer:</label>
          <div class="col-md-8">
            <select class="form-control" [(ngModel)]="dropoff.trailer" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected hidden>Driver</option>
              <option *ngFor="let cmp of trailerData" [value]="cmp.unitNumber">
                <span>{{cmp.unitNumber}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="type">Load Status:</label>
          <div class="col-md-8">
             <select class="form-control" [(ngModel)]="dropoff.loadstatus" [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected hidden>Load status</option>
              <option *ngFor="let load of loadstatusDetails" [value]="load.Name">
                <span>{{load.Name}}</span>
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body col-sm-6">
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="dropoffcompany">Dropoff Company:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="dropoffcompany" name="dropoffcompany" #dropoffcompany="ngModel" [(ngModel)]="dropoff.dropoffcompany" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="contactname">Contact name:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="contactname" name="contactname" #contactname="ngModel" [(ngModel)]="dropoff.contactname" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="contactnumber">Contact number:</label>
          <div class="col-md-8">
            <input type="number" class="form-control" id="contactnumber" name="contactnumber" #contactnumber="ngModel" [(ngModel)]="dropoff.contactnumber" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="address">Address:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="address" name="address" #address="ngModel" [(ngModel)]="dropoff.address" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="dropoffdate">Dropoff date:</label>
          <div class="col-md-8">
            <input type="date" class="form-control" id="dropoffdate" name="dropoffdate" #dropoffdate="ngModel" [(ngModel)]="dropoff.dropoffdate" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Upload
          </label><br />
          <input id="file-upload" multiple type="file" (change)="addfiles($event)" />
          <div class="col-sm-12">
            <div *ngFor="let data of finalArry">
              {{data}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loadformfooter">
    <div class="card-footer">
      <button type="submit" style="float: right;margin-left: 10px;" class="btn btn-sm btn-primary" (click)="submitdropoff(dropoff);dropoffpopupForm.reset()"><i class="fa fa-dot-circle-o"></i>
        <img *ngIf="IsDataloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        Submit</button>&nbsp;&nbsp;
      <button type="reset" style="float: right" (click)="resetdropoff()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
  </div>
</div>
</form>
