<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/Load-miles.PNG', width: 110, height: 45, alt: 'SNS Logo'}" [navbarBrandMinimized]="{src: 'assets/img/brand/Load-miles.PNG', width: 50, height: 50, alt: 'SNS Logo'}" [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
  </ul>
  <div class="col-md-3">
    <cui-breadcrumb></cui-breadcrumb>
  </div>
  <div class="col-md-6 navlinks" style="display: flex; justify-content: flex-end; padding: 0 0 1rem;">
    <div class="row col-md-2" style="display: block;">
      <button style="border-width: 0; background: none;" mat-button (click)="showLoadstatus()">loads</button>
    </div>
    <div class="row col-md-2" style="display: block;">
      <button style="border-width: 0; background: none;" mat-button [matMenuTriggerFor]="paymenu">Pay</button>
      <mat-menu #paymenu="matMenu">
        <button mat-menu-item>Driver Pay</button>
        <button mat-menu-item>Dispatcher Pay</button>
        <button mat-menu-item>Vendor Pay</button>
      </mat-menu>
    </div>
    <div class="row col-md-2" style="display: block;">
      <button style="border-width: 0; background: none;" mat-button [matMenuTriggerFor]="recordmenu">Record</button>
      <mat-menu #recordmenu="matMenu">
        <button mat-menu-item>Record Miles</button>
        <button mat-menu-item>Fuel Charges</button>
        <button mat-menu-item>Maintenance</button>
        <button mat-menu-item>Insurance</button>
        <button mat-menu-item>Incident</button>
        <button mat-menu-item>Sale/Disposal</button>
      </mat-menu>
    </div>
    <div class="row col-md-2" style="display: block;">
      <button style="border-width: 0; background: none;" mat-button [matMenuTriggerFor]="reportsmenu">Reports</button>
      <mat-menu #reportsmenu="matMenu">
        <button mat-menu-item>Truck Performance</button>
        <button mat-menu-item>Driver Performance</button>
        <button mat-menu-item>Carrier Performance</button>
        <button mat-menu-item>Dispatcher Performance</button>
        <button mat-menu-item>Customer Performance</button>
        <button mat-menu-item>Fuel Performance</button>
        <button mat-menu-item>Maintenance Register</button>
        <button mat-menu-item>Medical Register</button>
        <button mat-menu-item>Incident Register</button>
      </mat-menu>
    </div>
  </div>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/male-icon.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href=""><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href=""><i class="fa fa-wrench"></i> Setting</a> 
        <div class="divider"></div>
        <a class="dropdown-item" href="" (click)="Logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'"> 
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <!-- <cui-breadcrumb> -->
    <!-- Breadcrumb Menu-->
    <div class="col-md-12" style="display: flex; justify-content: space-between;">
      <div class="col-md-3" *ngIf="router.url != '/theme/company'">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedCompany" name="cmp" placeholder="Select Company">
            <mat-option *ngFor="let cmp of companylinkeddata" [value]="cmp.companyname" (click)="companyselected(cmp)">
              {{cmp.companyname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="router.url == '/theme/company'"></div>
      <div class="col-md-5">
        <li class="d-md-down-none" style="list-style-type: none; text-align: end; padding-bottom: 1.25rem;">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="#"><i class="icon-speech"></i></a>
            <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
          </div>
        </li>
      </div>
    </div>
    <!-- </cui-breadcrumb> -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <!-- <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span> -->
</app-footer>
