.disble{
	background: #e9e7e7;
    pointer-events: none;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.accessPointer{
	pointer-events: none;
}