<div *ngIf="selectedDriver" class="modal-header">
  <h4 class="modal-title">Driver Informtion - <span class="badge badge-success">{{pageFilters.firstname}}</span></h4>
  <button type="button" class="close" (click)="hidePopup()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<button *ngIf="!selectedDriver" type="button" class="close" (click)="hidePopup()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<form class="form-horizontal" #driverForm="ngForm" novalidate autocomplete="off">
<div class="row" *ngIf="pageFiltersshow">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Driver Information</div>
      <div style="display: flex;">
        <div class="card-body col-sm-6">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="firstname">First Name: <span style="color:red">*</span></label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="firstname" name="firstname" #firstname="ngModel" [(ngModel)]="pageFilters.firstname" required>
              <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)" style="font-size: smaller;">
                <div [hidden]="!firstname.errors.required">
                  <span style="color: red;">Firstname is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="middlename">Middle Name:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="middlename" name="middlename" #middlename="ngModel" [(ngModel)]="pageFilters.middlename">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="lastname">Last Name: <span style="color:red">*</span></label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="lastname" name="lastname" #lastname="ngModel" [(ngModel)]="pageFilters.lastname" required>
              <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" style="font-size: smaller;">
                <div [hidden]="!lastname.errors.required">
                  <span style="color: red;">Lastname is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="dislpalyname">Display Name: </label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="dislpalyname" name="dislpalyname" #dislpalyname="ngModel" [(ngModel)]="pageFilters.dislpalyname">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="dateofbirth">Date of Birth: <span style="color:red">*</span></label>
            <div class="col-md-9">
              <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="dateofbirth" placeholder="Ex: 01-04-1990" name="dateofbirth" #dateofbirth="ngModel" [(ngModel)]="pageFilters.dateofbirth" required>
              <div *ngIf="dateofbirth.errors && (dateofbirth.dirty || dateofbirth.touched)" style="font-size: smaller;">
                <div [hidden]="!dateofbirth.errors.required">
                  <span style="color: red;">Date Of Birth is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="ssn">SSN <span style="color: red;">*</span> :</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="ssn" name="ssn" #ssn="ngModel" [(ngModel)]="pageFilters.ssn" maxlength="9" required>
              <div *ngIf="ssn.errors && (ssn.dirty || ssn.touched)" style="font-size: smaller;">
                <div [hidden]="!ssn.errors.required">
                  <span style="color: red;">SSN is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="cellphone">Cell Phone:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="cellphone" name="cellphone" #cellphone="ngModel" [(ngModel)]="pageFilters.cellphone">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email">Email:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="pageFilters.email">
            </div>
          </div>
        </div>
        <div class="card-body col-sm-6">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="emergenctcontact">Emergency Contact:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="emergenctcontact" name="emergenctcontact" #emergenctcontact="ngModel" [(ngModel)]="pageFilters.emergenctcontact">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="emergencyphone">Emergency Phone:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="emergencyphone" name="emergencyphone" #emergencyphone="ngModel" [(ngModel)]="pageFilters.emergencyphone">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="address1">Address 1:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="address1" name="address1" #address1="ngModel" [(ngModel)]="pageFilters.address1">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="address2">Address 2:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="address2" name="address2" #address2="ngModel" [(ngModel)]="pageFilters.address2">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="city">City:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="city" name="city" #city="ngModel" [(ngModel)]="pageFilters.city">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="state">State:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="state" name="state" #state="ngModel" [(ngModel)]="pageFilters.state">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="zipcode">Zip Code:</label>
            <div class="col-md-9">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="zipcode" name="zipcode" #zipcode="ngModel" [(ngModel)]="pageFilters.zipcode">
            </div>
          </div>
          <div class="form-group row" *ngIf="changeUplaod">
              <label for="file-upload" *ngIf="mode"  [ngClass]="mode?'':'disble'" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Upload
              </label>
              <input id="file-upload" multiple type="file" (change)="addfiles($event)"/>
              <div class="col-sm-12">
                <div *ngFor="let data of finalArry;let i=index">
                  {{data.name}} &nbsp;<span *ngIf="showviewedit" (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;<span *ngIf="mode" (click)="ondelete(i)"><a style="color: red;" href="javascript:void(0)">delete</a></span>
                </div>
              </div>
              <div *ngIf="mode">
                <button class="btn btn-success" *ngIf="finalArry?.length > 0" (click)="onUploadFile()">Submit</button>
              </div>
          </div>
          <div class="form-group row" *ngIf="!changeUplaod">
              <label class="col-md-4 col-form-label" for="notes" *ngIf="!mode">Uploaded File :</label>
              <div class="col-sm-12" *ngIf="editFileList?.length > 0">
                <div *ngFor="let data of editFileList;let i=index">
                  {{data.name}} &nbsp;<span (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;
                </div>
              </div>
              <label for="file-upload" *ngIf="mode" [ngClass]="mode?'':'disble'" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Upload
              </label>
              <input id="file-upload" multiple type="file" (change)="addfiles($event)"/>
              <div class="col-sm-12">
                <div *ngFor="let data of finalArry;let i=index">
                  {{data.name}} &nbsp;<span *ngIf="showviewedit" (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;<span (click)="ondelete(i)"><a style="color: red;" href="javascript:void(0)">delete</a></span>
                </div>
              </div>
              <div>
                <button class="btn btn-success" *ngIf="finalArry?.length > 0" (click)="onUploadFile()">Submit</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Employment Information
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex;">
          <div class="card-body col-sm-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="employmenttype">Employment Type:</label>
              <div class="col-md-8 col-form-label" name="employmenttype">
                <div class="form-check form-check-inline mr-1">
                  <input [ngClass]="mode?'':'disble'" class="form-check-input" id="inline-radio1" type="radio" value="employee" checked="checked" name="employmenttype" #employmenttype="ngModel" [value]="true" [(ngModel)]="pageFilters.employmenttype">
                  <label class="form-check-label" for="inline-radio1">Employee</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input [ngClass]="mode?'':'disble'" class="form-check-input" id="inline-radio2" type="radio" value="1099?" name="employmenttype" #employmenttype="ngModel" [value]="false" [(ngModel)]="pageFilters.employmenttype">
                  <label class="form-check-label" for="inline-radio2">1099?</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="hiredate">Hire Date:</label>
              <div class="col-md-8">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="hiredate" name="hiredate" #hiredate="ngModel" [(ngModel)]="pageFilters.hiredate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="terminationdate">Termination Date:</label>
              <div class="col-md-8">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="terminationdate" name="terminationdate" #terminationdate="ngModel" [(ngModel)]="pageFilters.terminationdate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="vendoraccount">Vendor ID Account:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="vendoraccount" name="vendoraccount" #vendoraccount="ngModel" [(ngModel)]="pageFilters.vendoraccount">
              </div>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="quickpayid">Quickpay Id:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="quickpayid" name="quickpayid" #quickpayid="ngModel" [(ngModel)]="pageFilters.quickpayid">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="bankname">Bank Name:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="bankname" name="bankname" #bankname="ngModel" [(ngModel)]="pageFilters.bankname">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="accounttype">Account Type:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="accounttype" name="accounttype" #accounttype="ngModel" [(ngModel)]="pageFilters.accounttype">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="accountnum">Account Number:</label>
              <div class="col-md-8">
                <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="accountnum" name="accountnum" #accountnum="ngModel" [(ngModel)]="pageFilters.accountnumber">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="routingnum">Routing Number:</label>
              <div class="col-md-8">
                <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="routingnum" name="routingnum" #routingnum="ngModel" [(ngModel)]="pageFilters.routingnumber">
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Safety and Compliance Information
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex;">
          <div class="card-body col-md-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="cdlclass">CDL Class:</label>
              <div class="col-md-8">
                <select [ngClass]="mode?'':'disble'" class="form-control" id="cdlclass" name="cdlclass" #cdlclass="ngModel" [(ngModel)]="pageFilters.cdlclass">
                  <option value="0">Select</option>
                  <option value="1">Class A</option>
                  <option value="2">Class B</option>
                  <option value="3">Class C</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="cdlnumber">CDL Number:</label>
              <div class="col-md-8">
                <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="cdlnumber" name="cdlnumber" #cdlnumber="ngModel" [(ngModel)]="pageFilters.cdlnumber">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="cdlstate">CDL State:</label>
              <div class="col-md-8">
                <input type="lookup" [ngClass]="mode?'':'disble'" class="form-control" id="cdlstate" name="cdlstate" #cdlstate="ngModel" [(ngModel)]="pageFilters.cdlstate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="cdlexpirytate">CDL Expiry Date:</label>
              <div class="col-md-8">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="cdlexpirydate" name="cdlexpirytate" #cdlexpirytate="ngModel" [(ngModel)]="pageFilters.cdlexpirytate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="medicalcardexpiration">Medical card Expiration:</label>
              <div class="col-md-8 col-form-label">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="medicalcardexpiration" name="medicalcardexpiration" #medicalcardexpiration="ngModel" [(ngModel)]="pageFilters.medicalcardexpiration">
              </div>
            </div>
          </div>
          <div class="card-body col-md-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="yearsofexperience">Years Of Experience:</label>
              <div class="col-md-8">
                <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="yearsofexperience" name="yearsofexperience" #yearsofexperience="ngModel" [(ngModel)]="pageFilters.yearsofexperience">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="statesoperated">States Operated:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="statesoperated" name="statesoperated" #statesoperated="ngModel" [(ngModel)]="pageFilters.statesoperated">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="safetyawards">Safety Awards:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="safetyawards" name="safetyawards" #safetyawards="ngModel" [(ngModel)]="pageFilters.safetyawards">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="specialtraining">Special Training:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="specialtraining" name="specialtraining" #specialtraining="ngModel" [(ngModel)]="pageFilters.specialtraining">
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Payrate Table
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dx-viewport">
          <div class="grid-container">
            <dx-data-grid #grid id="gridContainer" [dataSource]="payratedata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [remoteOperations]="true" (onRowUpdated)="onpayrateEdit($event)" (onRowRemoved)="onpayrateDelete($event)" (onRowInserted)="onpayrateAdd($event)">
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing mode="row" [allowUpdating]="mode" [allowDeleting]="mode" [allowAdding]="mode">
              </dxo-editing>
              <dxo-selection mode="single"></dxo-selection>
              <!-- <dxi-column dataField="id" caption="LoadNumber"></dxi-column> -->
              <dxi-column dataField="fromdate" dataType="date" caption="Date From"></dxi-column>
              <dxi-column dataField="type" caption="Pay Type">
                <dxo-lookup [dataSource]="typeDetails" displayExpr="Name" valueExpr="ID">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="payrate" caption="Pay Rate"></dxi-column>
              <dxi-column dataField="dispatcherpay" caption="Dispatcher Pay"></dxi-column>
              <dxi-column dataField="deadheadpay" caption="Deadhead Pay"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Drug and Medical Test
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dx-viewport">
          <div class="grid-container">
            <dx-data-grid #grid id="gridContainer" [dataSource]="drugandmedicaldata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [remoteOperations]="true" (onRowUpdated)="ondrugEdit($event)" (onRowRemoved)="ondrugDelete($event)" (onRowInserted)="ondrugAdd($event)">
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing mode="row" [allowUpdating]="mode" [allowDeleting]="mode" [allowAdding]="mode">
              </dxo-editing>
              <dxo-selection mode="single"></dxo-selection>
              <!-- <dxi-column dataField="id" caption="LoadNumber"></dxi-column> -->
              <dxi-column dataField="fromdate" dataType="date" caption="Date"></dxi-column>
              <dxi-column dataField="testfacility" caption="Test Facility"></dxi-column>
              <dxi-column dataField="testresult" caption="Test Result">
                <dxo-lookup [dataSource]="resultDetails" displayExpr="Name" valueExpr="ID">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="comments" caption="Comments"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="card-footer" *ngIf="showAddOption">
  <button type="submit" *ngIf="showsubmit" style="float: right;margin-left: 10px;" class="btn btn-sm btn-primary" [ngClass]="btnHide?'accessPointer':''" (click)="submit()"><i class="fa fa-dot-circle-o"></i>
    <img *ngIf="IsDataloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    Submit</button>&nbsp;&nbsp;
    <button type="submit" *ngIf="showupdate" style="float: right;margin-left: 10px;" class="btn btn-sm btn-primary" [ngClass]="btnHide?'accessPointer':''" (click)="update()"><i class="fa fa-dot-circle-o"></i>
    <img *ngIf="IsDataloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    Update</button>&nbsp;&nbsp;
  <button type="reset" style="float: right" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
</div>
</form>