<div class="dropoff-header">
<h2 class="formheader">DROPOFF FORM</h2>
  <button class="btn btn-primary"(click)="onDropoffAdd()">Add Dropoff</button>
</div>
<div class="dx-viewport">
  <div class="grid-container">
    <dx-data-grid #grid id="gridContainer" [dataSource]="dropoffpopupdata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [remoteOperations]="true" >
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
      </dxo-editing>
      <dxo-selection mode="single"></dxo-selection>
      <!-- <dxi-column dataField="SlNo" caption="Sl No."></dxi-column> -->
      <dxi-column dataField="action" caption="Action" style="text-align: center;" cellTemplate="actionTemplate"></dxi-column>
      <div *dxTemplate="let element of 'actionTemplate'">
          <button class="btn btn-link" (click)="ondropEdit(element)">Edit</button>
          <button class="btn btn-link" (click)="ondropDelete(element)">delete</button>
      </div>
      <dxi-column dataField="Type" caption="Type"></dxi-column>
      <dxi-column dataField="Driver1" caption="Driver1"></dxi-column>
      <dxi-column dataField="Driver2" caption="Driver2"></dxi-column>
      <dxi-column dataField="Truck" caption="Truck"></dxi-column>
      <dxi-column dataField="Trailer" caption="Trailer"></dxi-column>
      <dxi-column dataField="LoadStatus" caption="Load Status"></dxi-column>
      <dxi-column dataField="dropCompany" caption="Dropoff Company"></dxi-column>
      <dxi-column dataField="dropContact" caption="Contact Name"></dxi-column>
      <dxi-column dataField="dropContnumber" caption="Contact Number"></dxi-column>
      <dxi-column dataField="dropAddress" caption="Address"></dxi-column>
      <!-- <dxi-column dataField="DropoffDate" dataType="date"></dxi-column> -->
    </dx-data-grid>
  </div>
</div>


