<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <span class="float-right">
          <button type="add" class="btn btn-sm btn-success" (click)="createLoad()"><i class="fa fa-plus"></i> Create Load</button>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div style="display: flex;" class="col-lg-12">
    <div class="col-lg-4">
      <h4 style="color: #20a8d8;">Load Status(Not Completed)</h4>
      <table class="loadstatus-table">
        <tr>
          <th>Category</th>
          <th>Rank</th>
          <th>Status</th>
          <th>Count</th>
        </tr>
        <tr>
          <td>Load</td>
          <td>1</td>
          <td>Booked</td>
          <td>2</td>
        </tr>
        <tr>
          <td>PickUp</td>
          <td>2</td>
          <td>Arrival - Delay</td>
          <td>1</td>
        </tr>
        <tr>
          <td>PickUp</td>
          <td>3</td>
          <td>Arrival - Ontime</td>
          <td>3</td>
        </tr>
        <tr>
          <td>PickUp</td>
          <td>4</td>
          <td>Loaded - Delay</td>
          <td>2</td>
        </tr>
        <tr>
          <td>PickUp</td>
          <td>5</td>
          <td>Loaded - Ontime</td>
          <td>5</td>
        </tr>
        <tr>
          <td>PickUp</td>
          <td>6</td>
          <td>In - Transit</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Delivery</td>
          <td>7</td>
          <td>Delivery - Delay</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Delivery</td>
          <td>8</td>
          <td>Delivery - Ontime</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Delivery</td>
          <td>9</td>
          <td>Completed</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Load</td>
          <td>10</td>
          <td>TONU</td>
          <td>2</td>
        </tr>
      </table>
      <div class="dashboard-table col-lg-12">
        <tr>
          <th>Top Brokers</th>
          <th>Load Sales</th>
          <th>Miles</th>
          <th>RPM</th>
        </tr>
        <tr>
          <td>Loadguru</td>
          <td>3,091,000</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Uber</td>
          <td>1,663,445</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>JB Hunt</td>
          <td>1,556,353</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Amazon</td>
          <td>997,462</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>UPS</td>
          <td>703,129</td>
          <td></td>
          <td></td>
        </tr>
      </div>
      <div class="dashboard-table col-lg-12">
        <tr>
          <th>Top Trucks</th>
          <th>Load Miles</th>
        </tr>
        <tr>
          <td>FLR01</td>
          <td>3,091,000</td>
        </tr>
        <tr>
          <td>Uber</td>
          <td>1,663,445</td>
        </tr>
        <tr>
          <td>JB Hunt</td>
          <td>1,556,353</td>
        </tr>
        <tr>
          <td>Amazon</td>
          <td>997,462</td>
        </tr>
        <tr>
          <td>UPS</td>
          <td>703,129</td>
        </tr>
      </div>
    </div>
    <div class="col-lg-4">
      <div style="background: #ccc; display: flex;" class="col-lg-12">
        <div style="text-align: center;" class="col-lg-4">
          <span>Total loads</span><br />
          <span style="font-size: 32px; color: #20a8d8; font-weight: 700;">73</span>
        </div>
        <div style="text-align: center;" class="col-lg-4">
          <span>Invoiced</span><br />
          <span style="font-size: 32px; color: #20a8d8; font-weight: 700;">70</span>
        </div>
        <div style="text-align: center;" class="col-lg-4">
          <span>In-Progress</span><br />
          <span style="font-size: 32px; color: #20a8d8; font-weight: 700;">3</span>
        </div>
      </div>
      <div class="dashboard-table col-lg-12">
        <tr>
          <th>Plates Expiry</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>FLR02</td>
          <td>08/23/2020</td>
        </tr>
        <tr>
          <td>VLV04</td>
          <td>08/27/2020</td>
        </tr>
        <tr>
          <td>FLR01</td>
          <td>09/3/2020</td>
        </tr>
        <tr>
          <td>DTR03</td>
          <td>09/3/2020</td>
        </tr>
        <tr>
          <td>KLM02</td>
          <td>08/23/2020</td>
        </tr>
      </div>
      <div class="dashboard-table col-lg-12">
        <tr>
          <th>Licence Expiry</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Williams</td>
          <td>08/23/2020</td>
        </tr>
        <tr>
          <td>David</td>
          <td>08/23/2020</td>
        </tr>
        <tr>
          <td>Peter</td>
          <td>08/23/2020</td>
        </tr>
        <tr>
          <td>Dene</td>
          <td>08/23/2020</td>
        </tr>
        <tr>
          <td>Tina</td>
          <td>08/23/2020</td>
        </tr>
      </div>
    </div>
    <div class="col-lg-4">
      <div style="background: #ccc; display: flex; align-items: center;" class="col-lg-12">
          <span>Miles Travelled</span><br />
          <span style="font-size: 32px; color: #20a8d8; font-weight: 700;">1095,750</span>
      </div>
      <div class="dashboard-table col-lg-12">
        <tr>
          <th>Gross Margin</th>
          <th>Amount $</th>
          <th>%</th>
        </tr>
        <tr>
          <td>Load Sales</td>
          <td>10,095,000</td>
          <td></td>
        </tr>
        <tr>
          <td>Fuel</td>
          <td>3,000,000</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Driver</td>
          <td>3,000,000</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Dispatcher</td>
          <td>597,452</td>
          <td>6</td>
        </tr>
        <tr>
          <td>Insurance</td>
          <td>798,362</td>
          <td>8</td>
        </tr>
      </div>
      <div class="dashboard-table col-lg-12">
        <tr>
          <th>Top Drivers</th>
          <th>Load Sales</th>
          <th>Miles</th>
          <th>RPM</th>
        </tr>
        <tr>
          <td>Williams</td>
          <td>1,095,000</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>David</td>
          <td>963,445</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Peter</td>
          <td>756,353</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Dene</td>
          <td>697,452</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Tina</td>
          <td>503,769</td>
          <td></td>
          <td></td>
        </tr>
      </div>
      <div class="dashboard-table col-lg-12">
        <tr>
          <th>Top Repairs</th>
          <th>Load Miles</th>
        </tr>
        <tr>
          <td>FLR02</td>
          <td>95,000</td>
        </tr>
        <tr>
          <td>VLV04</td>
          <td>63,445</td>
        </tr>
        <tr>
          <td>FLR01</td>
          <td>56,353</td>
        </tr>
        <tr>
          <td>DTR03</td>
          <td>47,452</td>
        </tr>
        <tr>
          <td>KLM02</td>
          <td>33,769</td>
        </tr>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="animated fadeIn">
<div class="row">
        <div class="col-lg-12">
          <div class="card">
              <div class="card-header"> 
                <span class="float-right">
                    <button type="add" class="btn btn-sm btn-success" (click)="createLoad()"><i class="fa fa-plus"></i> Create Load</button>    
                </span>              
              </div>
        <div class="card-body">
            <div class="animated fadeIn">
          </div>
          <table class="table table-responsive-sm table-hover table-bordered">
            <thead>
              <tr>
                <th style="background-color: rgb(60, 231, 146); text-align: center;">Booked</th>
                <th style="background-color: rgb(60, 231, 146); text-align: center;">Pickup-Ontime</th>
                <th style="background-color: yellow; text-align: center;">Pickup-Delay</th>
                <th style="background-color: rgb(60, 231, 146); text-align: center;">Loaded-Ontime</th>
                <th style="background-color: yellow; text-align: center;">Loaded-Delay</th>
                <th style="background-color: rgb(60, 231, 146); text-align: center;">Delivery-Ontime</th>
                <th style="background-color: red; text-align: center;">Delivery-Delay</th>
                <th style="background-color: rgb(60, 231, 146); text-align: center;">Completed</th>
                <th style="background-color: rgb(160, 77, 44); text-align: center;">Cancelled</th>
                <th style="background-color: rgb(104, 187, 235); text-align: center;">TONU</th>
                <th style="background-color: rgb(60, 231, 146); text-align: center;">Invoice</th>
              </tr>
            </thead>
    
                <tbody>
                  <tr>
                    <tr>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                        <td>2</td>
                        <td>2</td>
                        <td>3</td>
                        <td>2</td>
                        <td>2</td>
                        <td>1</td>
                        <td>0</td>
                        <td>5</td>
                        
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
        
            <div class="card-body">
                <div class="animated fadeIn">
              </div>
          <table class="table table-responsive table-hover table-bordered">
            <thead>
              <tr>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Load Number</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Customer</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Customer Load</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Contact Phone</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Contact Email</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Dispatcher</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Driver</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Driver Phone Number</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Truck</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Pickup Load Status</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Pick-up Location</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Drop-off Location</th>
                <th style="background-color: rgb(178, 178, 224); text-align: center;">Comments</th>
              </tr>
            </thead>
    
                <tbody>
                    <tr *ngFor="let load of loadDetails">
                        <td style="color: red; font-weight: 700">{{load.load_number}}</td>
                        <td>{{load.customer_name}}</td>
                        <td>{{load.crefno}}</td>
                        <td>{{load.phone}}</td>
                        <td>{{load.email}}</td>
                        <td>{{load.dispatcher}}</td>
                        <td>
                          <span *ngIf="load.pickupinfo!= undefined">Driver1:{{load.pickupinfo.Driver1}},</span>
                          <span *ngIf="load.pickupinfo!= undefined">Driver2:{{load.pickupinfo.Driver2}}</span>
                        </td>
                        <td>
                          <span *ngIf="load.pickupinfo!= undefined">{{load.pickupinfo.ContactNumber}}</span>
                        </td>
                        <td><span *ngIf="load.pickupinfo!= undefined">{{load.pickupinfo.Truck}}</span></td>
                        <td style="color: red; font-weight: 700">
                          <span *ngIf="load.pickupinfo!= undefined">{{load.pickupinfo.LoadStatus}}</span>
                        </td>
                        <td>
                          <span *ngIf="load.pickupinfo!= undefined">{{load.pickupinfo.PickupCompany}},</span> 
                          <span *ngIf="load.pickupinfo!= undefined">{{load.pickupinfo.Address}}</span>
                        </td>
                        <td>
                          <span *ngIf="load.dropoffinfo!= undefined">{{load.dropoffinfo.dropCompany}},</span>
                          <span *ngIf="load.dropoffinfo!= undefined">{{load.dropoffinfo.dropAddress}}</span>
                        </td>
                        <td>{{load.comments}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>


 -->
