<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <span class="float-right">
          <button type="add" class="btn btn-sm btn-success" (click)="createLoad()"><i class="fa fa-plus"></i> Create Load</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 cardsContainer">
    <div class="col-lg-3 cards">
      <div class="card-data" (click)="createLoad()">
        <h5>Create Load</h5>
        <img src="../../../assets/img/images/createload.png">
      </div>
    </div>
    <div class="col-lg-3 cards">
      <div class="card-data">
        <h5>Create Fuel Charge</h5>
        <img src="../../../assets/img/images/create fuel charge.png">
      </div>
    </div>
    <div class="col-lg-3 cards">
      <div class="card-data">
        <h5>Create Invoice</h5>
        <img src="../../../assets/img/images/create invoice.png">
      </div>
    </div>
    <div class="col-lg-3 cards">
      <div class="card-data">
        <h5>Create Factoring</h5>
        <img src="../../../assets/img/images/create factoring.png">
      </div>
    </div>
  </div>
  <div class="col-lg-12 cardsContainer">
    <div class="col-lg-3 cards">
      <div class="card-data">
        <h5>Payments</h5>
        <img src="../../../assets/img/images/payments.png">
      </div>
    </div>
    <div class="col-lg-3 cards">
      <div class="card-data">
        <h5>Record Insurance</h5>
        <img src="../../../assets/img/images/Record insurance.png">
      </div>
    </div>
    <div class="col-lg-3 cards">
      <div class="card-data" (click)="onDispatcherAdd()">
        <h5>Add Dispatcher</h5>
        <img src="../../../assets/img/images/adddispatcher.png">
      </div>
    </div>
    <div class="col-lg-3 cards">
      <div class="card-data" (click)="onDriverAdd()">
        <h5>Add Driver</h5>
        <img src="../../../assets/img/images/adddriver.png">
      </div>
    </div>
  </div>
  <div class="col-lg-12 cardsContainer">
    <div class="col-lg-3 cards">
      <div class="card-data">
        <h5>Maintenance Record</h5>
        <img src="../../../assets/img/images/addrepair.png">
      </div>
    </div>
    <div class="col-lg-3 cards">
      <div class="card-data" (click)="onTruckAdd()">
        <h5>Add Trucks</h5>
        <img src="../../../assets/img/images/addtrucks.png">
      </div>
    </div>
    <div class="col-lg-3 cards">
      <div class="card-data">
        <h5>Add Vendor</h5>
        <img src="../../../assets/img/images/addvendor.png">
      </div>
    </div>
  </div>
</div>
