<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="card-header">
          <span class="float-right">
            <button type="add" class="btn btn-sm btn-success" (click)="createLoad()"><i class="fa fa-plus"></i> Create
              Load</button>
          </span>
        </div> -->
        <div class="card-body">
          <div class="animated fadeIn">
          </div>
          <div style="margin: 1rem 0">
            <button type="add" class="btn btn-sm btn-success" (click)="Goback()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
          </div>
          <div class="detail-box animated fadeIn">
            <div class="row">
              <div class="col pad-hor" (click)="filterLoad('loads')">
                <div class="main load">
                  <!-- Loads -->
                  <img src="../../../assets/img/images/status/loads.png" height="100"/>
                  <span class="status-name">Loads</span>
                </div>
              </div>
              <div class="col pad-hor m-width">
                <div class="arrow load">
                  <i class="fa fa-arrows-v" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col pad-hor status booked" (click)="filterLoad('Booked', 'loads')">
                <div>
                  <!-- <div>Booked</div>
                  <div>{{statusCounts['loads-Booked'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/Loadsbooked.png" height="100"/>
                  <span class="status-name">Booked</span>
                </div>
              </div>
              
              <div class="col pad-hor status cancelled" (click) = "filterLoad('Cancelled', 'loads')">
                <div>
                  <!-- <div>Cancelled</div>
                  <div>{{statusCounts['loads-Cancelled'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/Loadscancelled.png" height="100">
                  <span class="status-name">Cancelled</span>
                </div>
              </div>
              <div class="col pad-hor status tonu" (click)="filterLoad('TONU', 'loads')">
                <div>
                  <!-- <div>TONU</div>
                  <div>{{statusCounts['loads-TONU'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/LoadsTONU.png" height="100">
                  <span class="status-name">TONU</span>
                </div>
              </div>
             
              <div class="col pad-hor status invoiced" (click) = "filterLoad('Invoiced', 'loads')">
                <div>
                  <!-- <div>Invoiced</div>
                  <div>{{statusCounts['loads-Invoiced'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/Loadsinvoiced.png" height="100">
                  <span class="status-name">Invoiced</span>
                </div>
              </div>
              <div class="col pad-hor status factored" (click)="filterLoad('Factored', 'loads')">
                <div>
                  <!-- <div>Factored</div>
                  <div>{{statusCounts['loads-Factored'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/loadsfactored.png" height="100">
                  <span class="status-name">Factored</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col pad-hor" (click)="filterLoad('pickups')">
                <div class="main pick">
                  <!-- Pick-ups -->
                  <img src="../../../assets/img/images/status/Pickups.png" height="100">
                  <span class="status-name">Pickups</span>
                </div>
              </div>
              <div class="col pad-hor m-width">
                <div class="arrow pick">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col pad-hor status booked" (click) = "filterLoad('Pickup On The Way', 'pickup')">
                <div>
                  <!-- <div>Pickup - On The Way</div>
                  <div>{{statusCounts['pickup-OnTheWay'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/pickupontheway.png" height="100">
                  <span class="status-name">On The Way</span>
                </div>
              </div>
              <div class="col pad-hor status arr-delay" (click) = "filterLoad('Pickup Delay', 'pickup')">
                <div>
                  <!-- <div>Pickup - Delay</div>
                  <div>{{statusCounts['pickup-PickupDelay'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/Pickupdelay.png" height="100">
                  <span class="status-name">Delay</span>
                </div>
              </div>
              <div class="col pad-hor status arr-ontime" (click) = "filterLoad('Pickup Ontime', 'pickup')">
                <div>
                  <!-- <div>Pickup - Ontime</div>
                  <div>{{statusCounts['pickup-PickupOntime'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/pickupontime.png" height="100">
                  <span class="status-name">Ontime</span>
                </div>
              </div>
              <div class="col pad-hor status pickup-delay" (click) = "filterLoad('Loading Delay', 'pickup')">
                  <div>
                    <!-- <div>Loading - Delay</div>
                    <div>{{statusCounts['pickup-LoadingDelay'] || 0}}</div> -->
                    <img src="../../../assets/img/images/status/Loadingdelay.png" height="100">
                    <span class="status-name">Loading Delay</span>
                  </div>
              </div>
              <div class="col pad-hor status pickup-ontime" (click) = "filterLoad('Delay-Loaded', 'pickup')">
                  <div>
                    <!-- <div>Loading - Ontime</div>
                    <div>{{statusCounts['pickup-LoadingOntime'] || 0}}</div> -->
                    <img src="../../../assets/img/images/status/LoadedDelay.png" height="100">
                    <span class="status-name">Delay-Loaded</span>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col pad-hor" (click)="filterLoad('dropoffs')">
                <div class="main delivery">
                  <!-- Delivery -->
                  <img src="../../../assets/img/images/status/Deliveryunload.png" height="100">
                  <span class="status-name">Dropoffs</span>
                </div>
              </div>
              <div class="col pad-hor m-width">
                <div class="arrow delivery ">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col pad-hor status intransit" (click) = "filterLoad('In Transit', 'dropoff')">
                <div>
                  <!-- <div>In-transit</div>
                  <div>{{statusCounts['dropoff-InTransit'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/deliveryintransit.png" height="100">
                  <span class="status-name">In Transit</span>
                </div>
              </div>
              <div class="col pad-hor status arr-delay" (click) = "filterLoad('Delivery Delay', 'dropoff')">
                <div>
                  <!-- <div>Delivery - Delay</div>
                  <div>{{statusCounts['dropoff-DeliveryDelay'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/deliverydelay.png" height="100">
                  <span class="status-name">Delay</span>
                </div>
              </div>
              <div class="col pad-hor status arr-ontime" (click) = "filterLoad('Delivery Ontime', 'dropoff')">
                <div>
                  <!-- <div>Delivery - Ontime</div>
                  <div>{{statusCounts['dropoff-DeliveryOntime'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/DeliveryOntime.png" height="100">
                  <span class="status-name">Ontime</span>
                </div>
              </div>
              <div class="col pad-hor status delivery-delay" (click) = "filterLoad('Waiting Unload', 'dropoff')">
                <div>
                  <!-- <div>Unload - Delay</div>
                  <div>{{statusCounts['dropoff-UnloadDelay'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/Waitingunload.png" height="100">
                  <span class="status-name">Waiting Unload</span>
                </div>
              </div>
              <div class="col pad-hor status completed" (click)="filterLoad('Delay-Unloaded', 'dropoff')">
                <div>
                  <!-- <div>Load Completed</div>
                  <div>{{statusCounts['load-Completed'] || 0}}</div> -->
                  <img src="../../../assets/img/images/status/unloadcomplete.png" height="100">
                  <span class="status-name">Delay-Unloaded</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="data-grid-demo">
    <dx-data-grid id="gridContainer" [dataSource]="loadDetails" [allowColumnReordering]="true" 
    [showBorders]="true" [columnAutoWidth]="true" (onRowUpdated)="onEdit($event)" 
    (onRowRemoved)="onDelete($event)" (onExporting)="onExporting($event)">
      <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
      <!-- <dxo-filter-row [visible]="true" [applyFilter]="activeFilter"></dxo-filter-row> -->
      <dxo-selection mode="multiple"></dxo-selection>
      <dxi-column dataField="Action" caption="Action" cellTemplate="actionTemplate" [width]="70"></dxi-column>
      <div *dxTemplate="let element of 'actionTemplate'">
        <span class="material-icons editload" (click)="onEditClick(element.data)">edit</span>
      </div>
      <dxi-column dataField="load_number" caption="Load Number" [width]="110" style="text-align: center;"></dxi-column>
      <dxi-column dataField="customer_name" caption="Customer"></dxi-column>
      <dxi-column dataField="crefno" caption="Customer Load"></dxi-column>
      <dxi-column dataField="phone" caption="Contact Phone"></dxi-column>
      <dxi-column dataField="email" caption="Contact Email"></dxi-column>
      <dxi-column dataField="dispatcher" caption="Dispatcher"></dxi-column>
      <dxi-column dataField="driver" caption="Driver Details" cellTemplate="driverTemplate"></dxi-column>
      <dxi-column dataField="ContactNumber" caption="Driver Phone number" cellTemplate="cellTemplate"></dxi-column>
      <dxi-column dataField="Truck" caption="Truck" cellTemplate="truckTemplate"></dxi-column>
      <dxi-column dataField="pickupaddress" caption="Pickup Location" [width]="250" cellTemplate="pickupaddressTemplate"></dxi-column>
      <dxi-column dataField="dropoffaddress" caption="Dropoff Location" [width]="250" cellTemplate="dropoffaddressTemplate"></dxi-column>
      <dxi-column dataField="loadstatus" caption="Load Status" [width]="200">
        <!-- <dxo-lookup [dataSource]="loadstatus" displayExpr="Name" valueExpr="ID">
        </dxo-lookup> -->
      </dxi-column>
      <dxi-column dataField="notes" caption="Comments"></dxi-column>
      <div *dxTemplate="let element of 'actionTemplate'">
        <span class="material-icons editload" (click)="onEditClick(element.data)">edit</span>
      </div>
      <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
      <div *dxTemplate="let element of 'driverTemplate'">
        <span *ngIf="element.data.pickupinfoLength > 0">Driver1 : {{element.data.pickupinfo[0].Driver1}}</span><br>
        <span *ngIf="element.data.pickupinfoLength > 0">Driver2 : {{element.data.pickupinfo[0].Driver2}}</span>
      </div>
      <div *dxTemplate="let element of 'cellTemplate'">
        <span *ngIf="element.data.pickupinfoLength > 0">{{element.data.pickupinfo[0].ContactNumber}}</span>
      </div>
      <div *dxTemplate="let element of 'truckTemplate'">
        <span *ngIf="element.data.pickupinfoLength > 0">{{element.data.pickupinfo[0].Truck}}</span>
      </div>
      <div *dxTemplate="let element of 'pickupaddressTemplate'">
        <span *ngIf="element.data.pickupinfoLength > 0">{{element.data.pickupinfo[0].PickupCompany}} , {{element.data.pickupinfo[0].Address}}</span>
      </div>
      <div *dxTemplate="let element of 'dropoffaddressTemplate'">
        <span *ngIf="element.data.dropoffinfoLength > 0">{{element.data.dropoffinfo[0].dropCompany}} , {{element.data.dropoffinfo[0].dropAddress}}</span>
      </div>
    </dx-data-grid>
  </div>
</div>
