<div *ngIf="selectedCarrier" class="modal-header">
  <h4 class="modal-title">Carrier Informtion - <span class="badge badge-success">{{pageFilters.companyname}}</span></h4>
  <button type="button" class="close" (click)="hidePopup()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<button *ngIf="!selectedCarrier" type="button" class="close" (click)="hidePopup()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="row" *ngIf="pageFiltersshow">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Carrier Information</div>
      <div style="display: flex;">
        <div class="card-body col-sm-6">
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="companyname">Company Name:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="companyname" name="companyname" #companyname="ngModel" [(ngModel)]="pageFilters.companyname">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="firstname">First Name: <span style="color:red">*</span></label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="firstname" name="firstname" #firstname="ngModel" [(ngModel)]="pageFilters.firstname" required>
              <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)" style="font-size: smaller;">
                <div [hidden]="!firstname.errors.required">
                  <span style="color: red;">Firstname is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="middlename">Middle Name:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="middlename" name="middlename" #middlename="ngModel" [(ngModel)]="pageFilters.middlename">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="lastname">Last Name: <span style="color:red">*</span></label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="lastname" name="lastname" #lastname="ngModel" [(ngModel)]="pageFilters.lastname" required>
              <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" style="font-size: smaller;">
                <div [hidden]="!lastname.errors.required">
                  <span style="color: red;">Lastname is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="dislpalyname">Display Name: </label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="dislpalyname" name="dislpalyname" #dislpalyname="ngModel" [(ngModel)]="pageFilters.dislpalyname">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="dateofbirth">Date of Birth: <span style="color:red">*</span></label>
            <div class="col-md-8">
              <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="dateofbirth" placeholder="Ex: 01-04-1990" name="dateofbirth" #dateofbirth="ngModel" [(ngModel)]="pageFilters.dateofbirth" required>
              <div *ngIf="dateofbirth.errors && (dateofbirth.dirty || dateofbirth.touched)" style="font-size: smaller;">
                <div [hidden]="!dateofbirth.errors.required">
                  <span style="color: red;">Date Of Birth is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="ssn">SSN/ Tax Id: <span style="color: red;">*</span> :</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" maxlength="9" class="form-control" id="ssn" name="ssn" #ssn="ngModel" [(ngModel)]="pageFilters.ssn" required>
              <div *ngIf="ssn.errors && (ssn.dirty || ssn.touched)" style="font-size: smaller;">
                <div [hidden]="!ssn.errors.required">
                  <span style="color: red;">SSN is Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="cellphone">Cell Phone:</label>
            <div class="col-md-8">
              <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="cellphone" name="cellphone" #cellphone="ngModel" [(ngModel)]="pageFilters.cellphone">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="email">Email:</label>
            <div class="col-md-8">
              <input type="email" [ngClass]="mode?'':'disble'" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="pageFilters.cemail">
            </div>
          </div>
        </div>
        <div class="card-body col-sm-6">
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="cemergenctcontact">Emergency Contact:</label>
            <div class="col-md-8">
              <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="cemergenctcontact" name="cemergenctcontact" #cemergenctcontact="ngModel" [(ngModel)]="pageFilters.cemergenctcontact">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="cemergencyphone">Emergency Phone:</label>
            <div class="col-md-8">
              <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="cemergencyphone" name="cemergencyphone" #cemergencyphone="ngModel" [(ngModel)]="pageFilters.cemergencyphone">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="address1">Address 1:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="address1" name="address1" #address1="ngModel" [(ngModel)]="pageFilters.address1">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="address2">Address 2:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="address2" name="address2" #address2="ngModel" [(ngModel)]="pageFilters.address2">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="city">City:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="city" name="city" #city="ngModel" [(ngModel)]="pageFilters.city">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="state">State:</label>
            <div class="col-md-8">
              <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="state" name="state" #state="ngModel" [(ngModel)]="pageFilters.state">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="zipcode">Zip Code:</label>
            <div class="col-md-8">
              <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="zipcode" name="zipcode" #zipcode="ngModel" [(ngModel)]="pageFilters.zipcode">
            </div>
          </div>
          <div class="form-group row" *ngIf="changeUplaod">
              <label for="file-upload" *ngIf="mode"  [ngClass]="mode?'':'disble'" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Upload
              </label>
              <input id="file-upload" multiple type="file" (change)="addfiles($event)"/>
              <div class="col-sm-12">
                <div *ngFor="let data of finalArry;let i=index">
                  {{data.name}} &nbsp;<span *ngIf="showviewedit" (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;<span *ngIf="mode" (click)="ondelete(i)"><a style="color: red;" href="javascript:void(0)">delete</a></span>
                </div>
              </div>
              <div *ngIf="mode">
                <button class="btn btn-success" *ngIf="finalArry?.length > 0" (click)="onUploadFile()">Submit</button>
              </div>
          </div>
          <div class="form-group row" *ngIf="!changeUplaod">
              <label class="col-md-4 col-form-label" for="notes" *ngIf="!mode">Uploaded File :</label>
              <div class="col-sm-12" *ngIf="editFileList?.length > 0">
                <div *ngFor="let data of editFileList;let i=index">
                  {{data.name}} &nbsp;<span (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;
                </div>
              </div>
              <label for="file-upload" *ngIf="mode" [ngClass]="mode?'':'disble'" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Upload
              </label>
              <input id="file-upload" multiple type="file" (change)="addfiles($event)"/>
              <div class="col-sm-12">
                <div *ngFor="let data of finalArry;let i=index">
                  {{data.name}} &nbsp;<span *ngIf="showviewedit" (click)="onView(data)"><a style="color: blue;" href="javascript:void(0)">View</a></span>&nbsp;<span (click)="ondelete(i)"><a style="color: red;" href="javascript:void(0)">delete</a></span>
                </div>
              </div>
              <div>
                <button class="btn btn-success" *ngIf="finalArry?.length > 0" (click)="onUploadFile()">Submit</button>
              </div>
          </div>
        </div>
      </div>
      <div style="display: flex;">
        <div class="card-body col-sm-4">
          <input type="file" name="" multiple (change)="showfiles($event)">
        </div>
        <div class="card-body col-sm-8">
          <div *ngFor="let data of filename">
            {{data.name}}
          </div>
        </div>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Contact Information
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dx-viewport">
          <div class="grid-container">
            <dx-data-grid #grid id="gridContainer" [dataSource]="contactdata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [remoteOperations]="true" (onRowUpdated)="onEdit($event)" (onRowRemoved)="onDelete($event)" (onRowInserted)="onAdd($event)">
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing mode="row" [allowUpdating]="mode" [allowDeleting]="mode" [allowAdding]="mode">
              </dxo-editing>
              <dxo-selection mode="single"></dxo-selection>
              <!-- <dxi-column dataField="id" caption="LoadNumber"></dxi-column> -->
              <dxi-column dataField="type" caption="Contact Type">
                <dxo-lookup [dataSource]="typeDetails" displayExpr="Name" valueExpr="ID">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="name" caption="Name"></dxi-column>
              <dxi-column dataField="mobile" caption="Mobile Number"></dxi-column>
              <dxi-column dataField="phone" caption="Phone"></dxi-column>
              <dxi-column dataField="ext" caption="Ext"></dxi-column>
              <dxi-column dataField="email" caption="Email"></dxi-column>
              <dxi-column dataField="comments" caption="Comments"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Employment Information
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex;">
          <div class="card-body col-sm-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="employmenttype">Employment Type:</label>
              <div class="col-md-8 col-form-label" name="employmenttype">
                <div class="form-check form-check-inline mr-1">
                  <input [ngClass]="mode?'':'disble'" class="form-check-input" id="inline-radio2" type="radio" value="1099?" name="employmenttype" #employmenttype="ngModel" [value]="false" [(ngModel)]="pageFilters.employmenttype">
                  <label class="form-check-label" for="inline-radio2">1099?</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="hiredate">Hire Date:</label>
              <div class="col-md-8">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="hiredate" name="hiredate" #hiredate="ngModel" [(ngModel)]="pageFilters.hiredate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="terminationdate">Termination Date:</label>
              <div class="col-md-8">
                <input type="date" [ngClass]="mode?'':'disble'" class="form-control" id="terminationdate" name="terminationdate" #terminationdate="ngModel" [(ngModel)]="pageFilters.terminationdate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="vendoraccount">Vendor ID Account:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="vendoraccount" name="vendoraccount" #vendoraccount="ngModel" [(ngModel)]="pageFilters.vendoraccount">
              </div>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="quickpayid">Quickpay Id:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="quickpayid" name="quickpayid" #quickpayid="ngModel" [(ngModel)]="pageFilters.quickpayid">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="bankname">Bank Name:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="bankname" name="bankname" #bankname="ngModel" [(ngModel)]="pageFilters.bankname">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="accounttype">Account Type:</label>
              <div class="col-md-8">
                <input type="text" [ngClass]="mode?'':'disble'" class="form-control" id="accounttype" name="accounttype" #accounttype="ngModel" [(ngModel)]="pageFilters.accounttype">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="accountnumber">Account Number:</label>
              <div class="col-md-8">
                <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="accountnumber" name="accountnumber" #accountnumber="ngModel" [(ngModel)]="pageFilters.accountnumber">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="routingnumber">Routing Number:</label>
              <div class="col-md-8">
                <input type="number" [ngClass]="mode?'':'disble'" class="form-control" id="routingnumber" name="routingnumber" #routingnumber="ngModel" [(ngModel)]="pageFilters.routingnumber">
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Truck safety
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dx-viewport">
          <div class="grid-container">
            <dx-data-grid #grid id="gridContainer" [dataSource]="trucksafetydata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [allowColumnResizing]="true" [remoteOperations]="true" (onRowUpdated)="ontrucksafetyEdit($event)" (onRowRemoved)="ontrucksafetyDelete($event)" (onRowInserted)="ontrucksafetyAdd($event)">
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing mode="row" [allowUpdating]="mode" [allowDeleting]="mode" [allowAdding]="mode">
              </dxo-editing>
              <dxo-selection mode="single"></dxo-selection>
              <dxi-column dataField="type" caption="Truck/Trailer">
                <dxo-lookup [dataSource]="trucktypeDetails" displayExpr="Name" valueExpr="ID">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="driver" caption="Driver" width="180">
                <dxo-lookup [dataSource]="driverdata" displayExpr="firstname" valueExpr="firstname"></dxo-lookup>
              </dxi-column>
              <dxi-column dataField="registeredstate" caption="Registered State"></dxi-column>
              <dxi-column dataField="plate" caption="Plate"></dxi-column>
              <dxi-column dataField="plateexpiry" dataType="date" caption="Plate Expiry"></dxi-column>
              <dxi-column dataField="insuranceexpiry" dataType="date" caption="Insurance Expiry"></dxi-column>
              <dxi-column dataField="status" caption="Active/inactive">
                <dxo-lookup [dataSource]="statusDetails" displayExpr="Name" valueExpr="ID"></dxo-lookup>
              </dxi-column>
              <!-- <div *dxTemplate="let element of 'DriverTemplate'">
               <span mat-button #menuTrigger="matMenuTrigger" class="left plate_color dash_color" [matMenuTriggerFor]="actions">{{element.value}}</span>
               <mat-menu #actions="matMenu">
                   <button mat-menu-item>Add Driver</button>
               </mat-menu>
                </div> -->
            </dx-data-grid>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Driver safety
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dx-viewport">
          <div class="grid-container">
            <dx-data-grid #grid id="gridContainer" [dataSource]="driversafetydata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [allowColumnResizing]="true" [remoteOperations]="true" (onRowUpdated)="ondriversafetyEdit($event)" (onRowRemoved)="ondriversafetyDelete($event)" (onRowInserted)="ondriversafetyAdd($event)">
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing mode="row" [allowUpdating]="mode" [allowDeleting]="mode" [allowAdding]="mode">
              </dxo-editing>
              <dxo-selection mode="single"></dxo-selection>
              <dxi-column dataField="Driver" caption="Driver Name" width="180">
                <dxo-lookup [dataSource]="driverdata" displayExpr="firstname" valueExpr="firstname"></dxo-lookup>
              </dxi-column>
              <dxi-column dataField="cdlstate" caption="CDL State"></dxi-column>
              <dxi-column dataField="cdlnumber" caption="CDL Number"></dxi-column>
              <dxi-column dataField="cdlexpirydate" dataType="date" caption="CDL Expiry"></dxi-column>
              <dxi-column dataField="medicalcardexpiration" dataType="date" caption="Medical card Expiry"></dxi-column>
              <dxi-column dataField="hazmatcertified" caption="HAZMAT Certified">
                <dxo-lookup [dataSource]="hazmatDetails" displayExpr="Name" valueExpr="ID"></dxo-lookup>
              </dxi-column>
              <dxi-column dataField="driverstatus" caption="Active/Inactive">
                <dxo-lookup [dataSource]="statusDetails" displayExpr="Name" valueExpr="ID"></dxo-lookup>
              </dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Payrate Table
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dx-viewport">
          <div class="grid-container">
            <dx-data-grid #grid id="gridContainer" [dataSource]="payratedata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [remoteOperations]="true" (onRowUpdated)="onpayrateEdit($event)" (onRowRemoved)="onpayrateDelete($event)" (onRowInserted)="onpayrateAdd($event)">
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing mode="row" [allowUpdating]="mode" [allowDeleting]="mode" [allowAdding]="mode">
              </dxo-editing>
              <dxo-selection mode="single"></dxo-selection>
              <dxi-column dataField="fromdate" dataType="date" caption="Date From"></dxi-column>
              <dxi-column dataField="type" caption="Pay Type">
                <dxo-lookup [dataSource]="paytypeDetails" displayExpr="Name" valueExpr="ID">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="payrate" caption="Pay Rate"></dxi-column>
              <dxi-column dataField="dispatcherpay" caption="Dispatcher Pay"></dxi-column>
              <dxi-column dataField="deadheadpay" caption="Deadhead Pay"></dxi-column>
              <!-- <div *dxTemplate="let element of 'DriverTemplate'">
               <span mat-button #menuTrigger="matMenuTrigger" class="left plate_color dash_color" [matMenuTriggerFor]="actions">{{element.value}}</span>
               <mat-menu #actions="matMenu">
                   <button mat-menu-item>Add Driver</button>
               </mat-menu>
                </div> -->
            </dx-data-grid>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="card-header">
          <mat-panel-title>
            Drug and Medical Test
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dx-viewport">
          <div class="grid-container">
            <dx-data-grid #grid id="gridContainer" [dataSource]="drugmedicaldata" [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true" [remoteOperations]="true" (onRowUpdated)="ondrugEdit($event)" (onRowRemoved)="ondrugDelete($event)" (onRowInserted)="ondrugAdd($event)">
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing mode="row" [allowUpdating]="mode" [allowDeleting]="mode" [allowAdding]="mode">
              </dxo-editing>
              <dxo-selection mode="single"></dxo-selection>
              <dxi-column dataField="fromdate" dataType="date" caption="Date"></dxi-column>
              <dxi-column dataField="Driver" dataType="date" caption="Driver Name">
                <dxo-lookup [dataSource]="driverdata" displayExpr="firstname" valueExpr="firstname"></dxo-lookup>
              </dxi-column>
              <dxi-column dataField="testfacility" caption="Test Facility"></dxi-column>
              <dxi-column dataField="testresult" caption="Test Result">
                <dxo-lookup [dataSource]="resultDetails" displayExpr="Name" valueExpr="ID">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="comments" caption="Comments"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="card-footer" *ngIf="showAddOption">
  <button type="submit" *ngIf="showsubmit" style="float: right;margin-left: 10px;" class="btn btn-sm btn-primary" [ngClass]="btnHide?'accessPointer':''" (click)="submit()"><i class="fa fa-dot-circle-o"></i>
    <img *ngIf="IsDataloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    Submit</button>&nbsp;&nbsp;
    <button type="submit" *ngIf="showupdate" style="float: right;margin-left: 10px;" class="btn btn-sm btn-primary" [ngClass]="btnHide?'accessPointer':''" (click)="update()"><i class="fa fa-dot-circle-o"></i>
    <img *ngIf="IsDataloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    Update</button>&nbsp;&nbsp;
  <button type="reset" style="float: right" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
</div>
